<form  class="form-inline" name="editForm" ng-submit="editForm.$valid && editCtrl.save(editModel, editForm)" novalidate>
    <div class="form-group" ng-class="{ 'has-error': editForm.$submitted && editForm.date.$error.required }">
        <label for="date">Date</label>
        <div class="input-group">
            <input class="form-control" name="date" ng-model="editModel.date" placeholder="2016-06-03" required>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': editForm.$submitted && editForm.value.$error.required }">
        <label for="value">Value</label>
        <div class="input-group">
            <input class="form-control" name="value" ng-model="editModel.value" required>
            <span class="input-group-addon">$</span>
        </div>
    </div>
    <input type="submit" value="Save" class="btn btn-default">
</form>