<div ng-controller="ExpensesController as expensesCtrl">
    <h2>Expenses</h2>
    <table class="table table-striped">
        <tr>
            <th>Date</th>
            <th>Expense</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="expense in expenses">
            <td>{{expense.date | date}}</td>
            <td>{{expense.value | currency}}</td>
            <td><a href ng-click="expensesCtrl.edit(expense)" class="btn btn-default">Edit</a></td>
            <td><a href ng-click="expensesCtrl.remove(expense.id)" class="btn btn-default">Delete</a></td>
        </tr>
    </table>
    <br/>
    <a href ng-show="!isEdit" ng-click="expensesCtrl.addClick()">Add</a>
    <br/>
    <div ng-show="isEdit">
        <edit></edit>
    </div>
</div>