<div ng-controller="IncomesController as incomesCtrl">
    <h2>Incomes</h2>
    <table class="table table-striped">
        <tr>
            <th>Date</th>
            <th>Expense</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="income in incomes">
            <td>{{income.date | date}}</td>
            <td>{{income.value | currency}}</td>
            <td><a href ng-click="incomesCtrl.edit(income)" class="btn btn-default">Edit</a></td>
            <td><a href ng-click="incomesCtrl.remove(income.id)" class="btn btn-default">Delete</a></td>
        </tr>
    </table>
    <br/>
    <a href ng-show="!isEdit" ng-click="incomesCtrl.addClick()">Add</a>
    <br/>
    <div ng-show="isEdit">
        <edit></edit>
    </div>
</div>