<div style="float: left;">
    <a href ng-click="nav.previous()"><</a>
</div>
<div style="float: left; padding-left: 5px">
    {{date | date : 'MMMM yyyy'}}
</div>
<div style="float: left; padding-left: 5px">
    <a href ng-click="nav.next()">></a>
</div>
<div style="clear: left"></div>
          