<div ng-controller="NavigationController as navigation">
    <div>
    <h3><a ui-sref="overview">Overview</a></h3>
        <p>{{totalIncomes  - totalExpenses | currency}}</p>
    </div>
    <div>
    <h3><a ui-sref="expenses">Expenses</a></h3>
        <p>{{totalExpenses | currency}}</p>
    </div>
    <div>
        <h3><a ui-sref="incomes">Incomes</a></h3>
        <p>{{totalIncomes | currency}}</p>
    </div>
</div>