<div ng-controller="OverviewController as overview">
    <h2>Overview</h2>
    <div>
        Earned: {{totalIncomes | currency}}
    </div>
    <br/>
    <div>
        Spend: {{totalExpenses | currency}}
    </div>
</div>